/*WOMENS PAGE */
.products {
    display: flex;
}

.products-img {
    flex: 50%;
}

.products::after {
    content: "";
    clear: both;
    display: table;
}

.img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@media (min-width: 480px) {
    .products {
        display: flex;
    }
    
    .products-img {
        flex: 33.33%;
    }
}