p,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/* Forsøk på å lage grid, et område til img/logo og en til selve meny*/
* {
    margin: 0;
    padding-left: 2px;
    text-decoration: none;
}

.menu_rainydays {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

/* Bildet*/
.logo {
    width: 90%;
    padding: 0px;
    margin: 0px;
}

/* Meny*/
nav {
    display: none;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
}

nav > ul {
    align-items: center;
    background-color: #113040;
    padding: 25px;
    margin: 0;
    width: 100%;
    height: 45px;
}

nav a:hover { /* Sette bakgrunnsfarge når musen er over elementer for mer brukervennlighet*/
    background-color: rgba(255, 255, 255, .3)
}

nav li {
    display: inline-block;
    width: 150px;
}

.menu-elements {
    font-family: 'Pacifico', cursive;
    color: #FFF;
    font-size: 1.8em;
}

.action {   /* Sette linje på aktiv side for mer brukervennlighet*/
    text-decoration: underline;
}


.fas,
.far { /* Ikoner i meny*/
     color: #FFF;
     font-size: 40px;
}

/* Floate help-elementene i meny til høyre*/
li.help-elements {
    float: right;
    width: 85px;
}

/*_________Innhold på forside */ /* MAINPAIGE______________*/
main {
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

.frontheader {
    font-family: 'Federant', cursive;
    font-size: 3.5em;
    font-weight: 110;
}

.flex-img {
    display: flex;
    margin: 0;
}
.flex-img > * {
    flex: 50%;
}

.image-front {
    max-width: 500px;
}

.align-img {
    float: right;
}

.align-img-2 {
    float: left;
}

.flex-buttons_align2 {
    padding: 50px;
    margin: 0px;
}

/* CTA KNAPPER PÅ FORSIDE*/
.cta {
    font-family: 'Montserrat', sans-serif;
    background-color: #0B7F99;
    color: #FFF;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
    cursor: pointer;
}

.cta-large {
    padding: 8px 20px;
    font-size: 2em;
    grid-column: 2;
    grid-row: 2;
    min-width: 51.2px;
    text-align: center;
    margin-top: 5px;
}

.cta-small {
    padding: 8px 20px;
}

.cta:hover {
    color:rgba(255, 255, 255, .3)
}

/*______________ FORSØK MENY TIL RESPONSIV_________-*/
#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.fa-bars {
    color: black;
}

/* LAGE MENYEN RESPONSIV*/
@media (min-width: 400px){
    nav > ul {
        overflow: hidden;
    }
    .products {
     width: 100%;
    }
}

@media (min-width: 800px) {
#hamburger-menu {
    overflow: hidden;
}
}


/* WOMEN PRODUKT*/
.products {
    display: flex;
}

.products-img {
    flex: 33.33%;
}

.products::after {
    content: "";
    clear: both;
    display: table;
}

.img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* PRODUCT SPECIFIC SIDE*/
.product-specific_img {
    display: flex;
}

.product-specific_img > * {
    flex: 50%;
}

.product-container {
    width: 550px;
    height: 450px;
}

.product-img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'Federant', cursive;
    font-size: 2.5em;
    font-weight: 110;
}

.custom-select {
    font-family: 'Montserrat', sans-serif;
}

select {
    padding: 12px 44px;
    color: #FFF;
    background-color: #0B7F99;
    border: 1px solid #FFF;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.25em;
}

.select:focus,
.select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.product-buttons_align{
    display: flex;
}

.product-buttons_align > * {
    flex-direction: column;
}

/* MY INFO WEBPAGE*/
.myinfo-shoppingcart {
   float: left;
}

.myinfo-container {
    width: 350px;
    height: 250px;
}

.myinfo-img {
    width:  100%;
    height: auto;
}

.myinformation {
    display: flex;
    flex-direction: column;
    float: left;
}

#email, 
#name,
#phone,
#address {
    padding: 6px;
    margin: 5px;
    width: 200px;
}


/* ORDER CONFIRMATION SIDE */
.order-box {
    width: 800px;
    height: 600px;
    background-color: #0B7F99;
}

.order-img {
    width: 400px;
    height: 300px;
}

.order-img-specific {
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 10px;
}

/* Order confirmation - button*/
.myinfo-button {
    width: 80px;
    height: 60px;
    background-color: #0B7F99;
}

