/* Forsøk på å lage grid, et område til img/logo og en til selve meny*/
* {
    margin: 0;
    padding-left: 2px;
    text-decoration: none;
}

.menu_rainydays {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

/* Bildet*/
.logo {
    width: 90%;
    padding: 0px;
    margin: 0px;
}

/* Meny*/
nav {
    display: none;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
}

nav > ul {
    align-items: center;
    background-color: #113040;
    padding: 25px;
    margin: 0;
    width: 100%;
    height: 45px;
}

nav a:hover { /* Sette bakgrunnsfarge når musen er over elementer for mer brukervennlighet*/
    background-color: rgba(255, 255, 255, .3)
}

nav li {
    display: inline-block;
    width: 150px;
}

.menu-elements {
    font-family: 'Pacifico', cursive;
    color: #FFF;
    font-size: 1.8em;
}

.action {   /* Sette linje på aktiv side for mer brukervennlighet*/
    text-decoration: underline;
}


.fas,
.far { /* Ikoner i meny*/
     color: #FFF;
     font-size: 40px;
}

/* Floate help-elementene i meny til høyre*/
li.help-elements {
    float: right;
    width: 85px;
}

/*_________Innhold på forside */ /* MAINPAIGE______________*/
main {
    max-width: 1000px;
    text-align: center;
}

.frontheader {
    font-family: 'Federant', cursive;
    font-size: 3.5em;
    font-weight: 110;
    text-align: center;
}

.flex-img {
    display: flex;
    margin: 0;
}
.flex-img > * {
    flex: 50%;
}

.image-front {
    max-width: 500px;
}

.flex-buttons_align2 {
    padding: 50px;
    margin: 0px;
}

/* CTA KNAPPER PÅ FORSIDE*/
.cta {
    background-color: #0B7F99;
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
    cursor: pointer;
}

.cta-large {
    padding: 8px 20px;
    font-size: 0,8em;
    grid-column: 2;
    grid-row: 2;
    min-width: 51.2px;
    text-align: center;
    margin-top: 5px;
}

.cta:hover {
    color:rgba(255, 255, 255, .3)
}

/*______________ FORSØK MENY TIL RESPONSIV_________-*/
#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.fa-bars {
    color: black;
}

/* nav ul {
    padding: 0px;
}

nav li {
    display: block;
    padding: 20px 30px;
} */

/* LAGE MENYEN RESPONSIV*/
@media (min-width: 400px){
    nav > ul {
        overflow: hidden;
}

@media (min-width: 800px) {
#hamburger-menu {
    overflow: hidden;
}
}