/* FORSIDE RAINY DAYS*/
/* Forsøk på å lage grid, et område til img/logo og en til selve meny*/
* {
    margin: 0;
    padding-left: 2px;
    text-decoration: none;
}

p,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}    

.menu_rainydays {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

/* Bildet*/
.logo {
    width: 90%;
    padding: 0px;
    margin: 0px;
}

/* Meny*/
.hamburger {
    display: none;
    float: right;
    margin: 10px;
    padding: 10px;
}

label[for="hamburger-menu"] {
    display: none;
}

nav {
    display: block;
    width: 100%;
    list-style: none;
    box-sizing: none;
}

nav > ul {
    align-items: center;
    background-color: #113040;
    padding: 25px;
    margin: 10px;
    width: 150px;
    height: 240px;
}

nav a:hover { /* Sette bakgrunnsfarge når musen er over elementer for mer brukervennlighet*/
    background-color: rgba(255, 255, 255, .3)
}

.menu-elements {
    font-family: 'Pacifico', cursive;
    color: #FFF;
    font-size: 1.8em;
}

.action {   /* Sette linje på aktiv side for mer brukervennlighet*/
    text-decoration: underline;
}


.fas,
.far { /* Ikoner i meny*/
     color: #FFF;
     font-size: 40px;
}

/* Floate help-elementene i meny til høyre*/
li.help-elements {
    width: 85px;
    padding: 5px;
}

/*_________Innhold på forside */ /* MAINPAIGE______________*/
main { /* Sette max bredde på sidene med bruk av main*/
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

/* Sette font og størrelse på h1 elementene jeg bruker på sidene*/
.frontheader {
    font-family: 'Federant', cursive;
    font-size: 3.5em;
    font-weight: 110;
}

.flex-img {
    margin: 0;
}

.image-front {
    max-width: 500px;
}

.align-img {
    float: center;
    margin: 5px;
    padding: 5px;
}

.align-img-2 {
    float: center;
    margin: 5px;
    padding: 5px;
}

.flex-buttons_align2 {
    padding: 50px;
}

/* CTA KNAPPER PÅ FORSIDE*/
.cta {
    font-family: 'Montserrat', sans-serif;
    background-color: #0B7F99;
    color: #FFF;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
    cursor: pointer;
}

.cta-large {
    padding: 8px 20px;
    font-size: 2em;
    grid-column: 2;
    grid-row: 2;
    min-width: 51.2px;
    text-align: center;
    margin-top: 5px;
}

.cta-small {
    padding: 8px 20px;
}

.cta:hover {
    color:rgba(255, 255, 255, .3)
}

/*______________ FORSØK MENY TIL RESPONSIV_________-*/

#hamburger-menu:checked ~ nav {
    display: block;
}

.fa-bars {
    color: black;
}

/* LAGE SIDEN RESPONSIV*/
@media (min-width: 800px) {
    /* Sette de to bildene på forsiden i en flex på 50% hver*/
    .flex-img {
        display: flex;
        margin: 0;
    }
    .flex-img > * {
        flex: 50%;
    }
    /* Plassere de to bildene på dataskjerm */
    .align-img {
        float: right;
    }
    
    .align-img-2 {
        float: left;
    }
 
    /* Få hamburger ikon til å forsvinne*/
.hamburger {
    display: block;
}

#hamburger-menu:checked ~ nav {
    display: block; /* Få fram nav når checkbox er checked*/
}

label[for=hamburger-menu] {
    display: block;
    position: absolute;
    font-size: 2em;
    right: 0px;
    top: 10px;
}



    /*GJØRE MENY RESPONSIV FORSØK: */
header nav ul li {
    float: none;
}

header nav ul li a {
    width: 100%;
}

    nav {
        display: none;
        width: 100%;
        list-style: none;
        box-sizing: border-box;
    }
    
    nav > ul {
        align-items: center;
        background-color: #113040;
        padding: 25px;
        margin: 0;
        width: 100%;
        height: 45px;
    }
    
    nav li {
        display: inline-block;
        width: 150px;
    }
    li.help-elements {
        float: right;
        width: 85px;
    }
}